<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/main.html">
<div layout:fragment="content">
    <table id="users_table" th:class="${'table mt-3'}" th:style="${'width : 97%;margin:auto auto'}">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">COMMENT</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">RATE</th>
            <th scope="col">DATE</th>
            <th scope="col">USER</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody id="users_data">

        </tbody>
    </table>
    <script type="text/javascript">
        window.onload = function ()
        {
            loadComments()
        }
        function loadComments()
        {
            let html = ""
            let req = new XMLHttpRequest()
            req.open('GET', '/comments/all')
            req.send()
            req.onload = function ()
            {
                let comments = JSON.parse(req.responseText)
                for(let i = 0;i<comments.length;i++)
                {
                    html += "<tr>"
                    html += "<td><h4>"+comments[i].id+"</h4></td>"
                    html += "<td><h4>"+comments[i].comment+"</h4></td>"
                    html += "<td><h4>"+comments[i].product.name+"</h4></td>"
                    html += "<td><h4>"+comments[i].rate+"</h4></td>"
                    html += "<td><h4>"+comments[i].date+"</h4></td>"
                    html += "<td><h4>"+comments[i].user.name+"</h4></td>"
                    html += "<td><button class='btn btn-danger' type='button' data-toggle='modal' data-target='#deleteModal" + comments[i].id + "'>DELETE</button>";
                    html += "</td>";

                    // Add modal for each user
                    html += "<div class='modal fade' id='deleteModal" + comments[i].id + "' tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true'>";
                    html += "<div class='modal-dialog modal-dialog-centered' role='document'>";
                    html += "<div class='modal-content'>";
                    html += "<div class='modal-header'>";
                    html += "<h4 class='modal-title' id='deleteModalLabel'>Delete Comment</h4>";
                    html += "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>";
                    html += "<span aria-hidden='true'>&times;</span>";
                    html += "</button>";
                    html += "</div>";
                    html += "<div class='modal-body'>";
                    html += "<h4>Are you sure you want to delete this comment</h4>";
                    html += "</div>";
                    html += "<div class='modal-footer'>";
                    html += "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>";
                    html += "<button type='submit' class='btn btn-danger' onclick='deleteComment(" + comments[i].id + ")'>Delete</button>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</tr>"
                }
                document.getElementById('users_data').innerHTML = html;
            }
        }
        function deleteComment(id)
        {
            $('#deleteModal'+id).modal('hide');
            $('.modal-backdrop').remove();
            let req = new XMLHttpRequest()
            req.open('DELETE','/comments/delete')
            req.setRequestHeader("Content-type", "application/json")
            req.send(JSON.stringify(id));
            req.onload = function ()
            {
                loadComments()
            }

        }
    </script>
</div>
</html>